.viewport,
body,
html {
  width: 100%;
  height: 100%;
  margin: 0; }

body {
  padding-top: 50px; }

.flex-container {
  height: 100%;
  display: flex;
  flex-direction: column; }

.flex-stats-child {
  height: 10%; }

.flex-clicker-child {
  height: 40%; }

.flex-upgrade-child {
  height: 60%; }

.btn {
  outline: none !important; }

.textStyle {
  font-family: 'Indie Flower', cursive; }

.clicker-container {
  height: 100%;
  display: flex;
  padding-top: 5%;
  padding-bottom: 5%; }

.swap-clicker-button {
  flex: 1; }

.clicker-image-active {
  flex: 2; }

.clicker-image {
  display: none;
  flex: 2; }

.stats-container {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 100%; }

.header {
  margin: 50px;
  color: blue;
  text-align: center; }

.stats-text {
  font-family: 'Indie Flower', cursive;
  font-weight: bold; }

.wood-stats {
  background-image: url("img/woodTile_32x32.png"); }

.stone-stats {
  background-image: url("img/stoneTile_32x32.png"); }

.gold-stats {
  background-image: url("img/goldTile_32x32.png"); }

.food-stats {
  background-image: url("img/foodTile_640x480.png");
  background-size: 100% auto; }

.flatline {
  margin-top: 0;
  margin-bottom: 0; }

.nav-tabs-container {
  height: 16%; }

.tab-panes-content {
  overflow: auto;
  height: 85%;
  width: 100%;
  padding-top: 1px; }
