body {
  padding-top: 50px;
}

.btn {
  outline: none !important;
}

.navbarTextStyle {
    font-family: 'Indie Flower', cursive;
}

.clicker-container {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.clicker-image{
  margin-left: 30%;
  margin-right: 30%;
  height: 35%;
  width: 35%;
}

.body-background {
  background-color: #707070;
}

.clicker-frame {
  background-color: #efefef;
  height: 400px;
  width: 800px;
}

.row-centered {
  text-align: center;
}

.stats-box {
  margin-top: 10px;
  margin-bottom: 10px;
}

.header {
  margin: 50px;
  color: blue;
  text-align: center;
}

.stats-text {
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
}

.wood-stats {
  background-image: url("img/woodTile_32x32.png");
}

.stone-stats {
  background-image: url("img/stoneTile_32x32.png");
}

.gold-stats {
  background-image: url("img/goldTile_32x32.png");
}

.food-stats {
  background-image: url("img/foodTile_640x480.png");
  background-size: 100% auto;
}


.flatline {
  margin-top: 0;
  margin-bottom: 0;
}
