html, body, .viewport {
        width: 100%;
        height: 100%;
        margin: 0;
      }

body {
  padding-top: 50px;
}

.flex-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.flex-stats-child {
  height: 10%;
}

.flex-clicker-child {
  height: 40%;
}

.flex-upgrade-child {
  height: 50%;
}


.btn {
  outline: none !important;
}

.textStyle {
    font-family: 'Indie Flower', cursive;
}

.clicker-container {
  width: 100%;
  height: 90%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.clicker-image{
  margin-left: 25%;
  margin-right: 25%;
  height: 50%;
  width: 50%;
}

.body-background {
  background-color: #707070;
}

.clicker-frame {
  background-color: #efefef;
  height: 400px;
  width: 800px;
}

.row-centered {
  text-align: center;
}

.stats-container {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.header {
  margin: 50px;
  color: blue;
  text-align: center;
}

.stats-text {
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
}

.wood-stats {
  background-image: url("img/woodTile_32x32.png");
}

.stone-stats {
  background-image: url("img/stoneTile_32x32.png");
}

.gold-stats {
  background-image: url("img/goldTile_32x32.png");
}

.food-stats {
  background-image: url("img/foodTile_640x480.png");
  background-size: 100% auto;
}


.flatline {
  margin-top: 0;
  margin-bottom: 0;
}

.nav-tabs-container {
  height: 16%;
}

.tab-panes-content {
  overflow: auto;
  height: 85%;
  margin-top: 1px;
}
