.stats-box {
  border-style: solid;
  border-width: thin;
  border-color: black;
}

.header {
  margin: 50px;
  color: blue;
  text-align: center;
}

.equal {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
}

.vertical-align {
  display: flex;
  flex-direction: row;
  align-items: center;
}
