.stats {
  text-align: center;
}

.header {
  margin: 50px;
  color: blue;
  text-align: center;
}

.perSecDisplay {
  background-color: #a8c5da;
  overflow-x: hidden;
  text-align: center;
}

.perSecWood {
  color: #FFFFFF;
  margin: 0 auto;
  padding: 10px;
  font-size: 28px;
  line-height: 120%;
  /* float:left; */
  width: 45%;
  display: inline-block;
  text-align: center;
  border: 5px solid yellow;
}

.perSecStone {
  color: #FFFFFF;
  margin: 0 auto;
  padding: 10px;
  font-size: 28px;
  line-height: 120%;
  /* float:left; */
  width: 45%;
  display: inline-block;
  text-align: center;
  border: 5px solid yellow;
}
